* {
    box-sizing: border-box;
}
body {
    width: 992px;
}
div.red {
    background: red;
    width: 50%;
    height: 100px;
    float: left;
    border: 1px solid;
}
@media (max-width: 768px) {
div.red {width: 100%
}
}
div.green {
    background: green;
    width: 25%;
    height: 100px;
    float: left;
    border: 1px solid;
}

@media (max-width: 768px) {
    div.green {
        width: 50%;
    }
}
div.blue {
    background: blue;
    width: 33.3333%;
    height: 100px;
    float: left;
    border: 1px solid;
}

@media (max-width: 768px) {
    div.blue {
        width: 100%;
    }
}
div.purple {
    background: purple;
    width: calc(100%/9);
    height: 100px;
    float: left;
    border: 1px solid;
}

@media (max-width: 768px) {
    div.purple {
        width: calc(100%/3);
    }
}